@model IEnumerable<NeraChile.Web.Entities.Rescate>

@{
    ViewData["Title"] = "Index";
}

<h2>Nuevo Rescate</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometro_inicial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_de_servicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo_vehiculo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometro_de_llegada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odometro_final)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_del_Servicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odometro_inicial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_de_servicio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo_vehiculo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odometro_de_llegada)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odometro_final)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado_del_Servicio)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a>
                    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                    {    
                    <button data-id="@item.Id" class="btn btn-danger deleteItem" data-toggle="modal" data-target="#deleteDialog">Delete</button>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_DeleteDialog"/>


@section Scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
        $(document).ready(function () {
            // Delete item
            var item_to_delete;

            $('.deleteItem').click((e) => {
                item_to_delete = e.currentTarget.dataset.id;
            });

            $("#btnYesDelete").click(function () {
                window.location.href = '/Rescates/DeleteRescate/' + item_to_delete;
            });
        });
    </script>
    }