@model NeraChile.Web.Entities.Cliente

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.User.Rut)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Rut)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Apellido_Paterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Apellido_Paterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Apellido_Materno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Apellido_Materno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"  class="btn btn-warning" >Editar</a> |
    <a asp-action="Index" class="btn btn-success">Volver</a>
</div>
