@model IEnumerable<NeraChile.Web.Entities.Cliente>

@{
    ViewData["Title"] = "Index";
}

<h2>Nuevo Empleado</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.Rut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Apellido_Paterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Apellido_Materno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Dirección)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Comuna)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Telefono)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.Rut)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Nombre)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Apellido_Paterno)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Apellido_Materno)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Dirección)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Comuna)
            <td>
            <td>
                @Html.DisplayFor(modelItem => item.User.Telefono)
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a>
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
